@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <html lang="cz/cs">
</head>
    <body>
        <heading>'
            <h1></h1>
        </heading>



    </body>